<div class='index_banner white-text'>
  <h1>Breweries</h1>
</div>
    <% cache(fingerprint(@breweries.first.name) + current_page.to_s) do %>
      <% @breweries.each do |brewery| %>
        <div class="row center-cols center-align" id='brewery_instance'>
          <div class="col m7">
            <div class="card white-text">
              <div class="card-image" id='brewery_image'>
                <a href='/breweries/<%= brewery.id %>'><img src="<%= brewery.image %>"> </a>
              </div>
              <div class="card-content" id='brewery_name'>
                <h5><%= brewery.name %></h5>
              </div>
              <div class="card-action">
                <a href="<%= brewery.website %>" id='brewery_website'>Check out their Website</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
      <a class="btn-floating btn-large waves-effect waves-light" id='previous_page' href='/breweries?brewery_page=<%= (current_page - 1) %>'>
        <i class="material-icons">skip_previous</i>
      </a>
      <a class="btn-floating btn-large waves-effect waves-light right" id='next_page' href='/breweries?brewery_page=<%= (current_page + 1) %>'>
        <i class="material-icons">skip_next</i>
      </a>
